/*
Nombre: Javier Sebastián Valle Balsells
Carnet: 20159
Sección: 10

Referencias:
1. Juego de la memoria: https://www.youtube.com/watch?v=ZCKohZwGZMw&list=PL4cUxeGkcC9iQ7g2eoNXHCJBBBz40S_Lm
2. Botón: https://www.youtube.com/watch?v=Lz7PnlnHLxk&ab_channel=TheCode
3. Texto: https://www.youtube.com/watch?v=Ym_7u7zKpXs&ab_channel=NeuroAcademySRL
4. Propiedades de un texto: https://www.youtube.com/watch?v=2Q_1OVrCTq8&ab_channel=VidaMRR-Diseñoydesarrolloweb
5. Ubicación del botón: https://www.mejorcodigo.com/p/20607.html
6. Color del texto: https://www.w3schools.com/colors/colors_picker.asp
*/

/*Estilo de la página*/
.App{
  width: 1850px; /*Ancho de la pantalla*/
  height: 2150px; /*Alto de la pantalla*/
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); /*Gradiente para el fondo de la página*/
  position: relative; /*Posición relativa*/
  display: grid;    /*Se pone el grid para que se puedan poner bien las imágenes*/
  align-content: center;  /*Centrando el contenido*/
  justify-content: center; /*Justificando el contenido*/
}

/*Estilo de la grilla*/
.grilla{
  display: grid; /*Forma de grilla para que se vea como tablero de cartas*/
  grid-template-columns: 1fr 1fr 1fr 1fr; /*Agregando template de columnas*/
  margin-top: 40px; /*Agregando un margen de espacio a la grilla con respecto al objeto de arriba*/
  grid-gap: 20px;  /*Agregando un margen de espacio entre sí a las columnas*/
}

/*Propiedades del botón*/
button{
  border: 3px solid rgba(100,100,100,0.1); /*Borde de 3px con color azulado*/
  margin-bottom: 20px; /*Margen de 20px*/
  padding: 20px;      /*Tamaño del botón*/
  width: 300px;       /*Ancho del botón*/
  font-family: 'Poppins', sans-serif; /*Fuente que se usará en el botón*/
  font-size: 16px;  /*Tamaño de la fuente*/
  border-radius: 8px; /*Bordes redondeados*/
  cursor: pointer;   /*Esto hace que el cursor enseñe la mano para seleccionar*/
  color: #FFF;      /*Color blanco para el texto*/
  background-size: 300%; /*Tamaño de la parte trasera*/
  transition: 0.6s;     /*Transición del efecto*/
  background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA); /*Color de fondo: Se hizo con un gradiente*/
  left: 780px; /*Ubicación del botón desde la izquierda*/
  top: 150px;  /*Ubicación del botón desde arriba*/
  position: absolute; /*Posición absoluta para que el botón no se mueva*/
}

/*Propiedades del título*/
h1{
  text-align: justify; /*Justifiando el texto*/
  text-transform: none; /*Quitando las transformaciones del texto*/
  text-indent: 350px; /*Centrando el texto*/
  font-size: 35px;    /*Tamaño de la fuente*/
  left: 435px;       /*Ubicación del texto desde la izquierda hacia la derecha*/
  top: 25px;         /*Ubicación del texto desde arriba hacia abajo*/
  position: absolute; /*Posición absoluta para que no se mueva el texto*/
  color: #003399;   /*Color del texto*/
}

/*Propiedades de la carta individual*/
.carta{
  position: relative; /*Posición relativa, para que se puedan aplicar todas las propiedades como debe ser*/
}

/*Propiedades de la imagen*/
/*Cambiar después*/
.carta img{
  width: 100%; /*Ancho del 100% en la carta*/
  display: block; /*Se hace el display en bloque para mayor comoidad*/
  border: 4px black; /*Se aplica un borde de dos pixeles para que quede mejor en vista.*/
  border-radius: 8px;     /*Se le aplica un poco de esquinas redondas a las cartas*/
}

/*Propiedades del párrafo*/
p{
  text-align: justify; /*Justificando el texto*/
  text-transform: none; /*Quitándole las tranformaciones al texto*/
  font-size: 35px;  /*Tamaño del texto*/
  right: 50px;      /*Ubicación del texto desde la derecha*/
  top: 25px;       /*Ubicación del texto desde arriba*/
  position: fixed; /*Posición fixed para que el marcador pueda seguir al usuario cuando baje el scroll*/
  color: #003399;   /*Color del texto*/
}

/*Propiedades para el frente de las cartas: La parte de los números*/
.carta .frente {
  transform: rotateY(90deg); /*Se rota 90° la carta en el eje Y. Lo anterior se hace de manera horizontal*/
  position: absolute;       /*Se le coloca la posición absoluta*/
  transition: all ease-in 0.2s; /*Esta transición especifica la dirección de la carta*/
}

/*Esto es para la parta trasera de la carta, o sea la imagen que tiene el uno*/
.flipped .frente{
  transform: rotateY(0deg); /*Se pasa de 90 grados a cero grados*/
  transition-delay: 0.2s;   /*Esto va a hacer que haya un retraso de 0.2s. También especifica la dirección*/
}

/*Parte de atrás de las cartas*/
.carta .trasero{
  transition: all ease-in 0.2s; /*Esto hace que parezca que voltea como una carta real*/
  transition-delay: 0.2s;       /*Se aplica un delay de 0.2s para que se vea más realista*/
}

/*Volteo en la parte de atrás. Esto es cuando ya se enseña la carta numérica*/
.flipped .trasero{
  transform: rotateY(90deg); /*Esto hace que se voltee "hacia abajo" la parte de la carta que tiene color café*/
  transition-delay: 0s;      /*Se puso para que la transición sea rápida al momento de poner la cara boca abajo*/
}
